<footer class="footer">
  <p>&lt;3</p>
  <p>Heavily inspired by
    <a href="https://github.com/mdo/code-guide">Code Guide</a>.

    Made with some care by <a href="https://github.com/apetro">@apetro</a>.</p>
  <p>Open sourced under Apache 2. Copyright {{ site.time | date: '%Y' }}.</p>
  <p>This is a proof of concept &quot;alpha&quot; version.  It has enjoyed no peer review and currently exists only to suggest the idea of a portlet style guide has merit.  If all goes well there will in the future be a collaboratively developed style guide that will be wonderful.</p>
</footer>
